image:
  repository: prom/node-exporter
  pullPolicy: IfNotPresent
  tag: 'latest'

imagePullSecrets: []

service:
  type: ClusterIP
  port: 9100

hostNetwork: true
hostPID: true

tolerations:
  - operator: Exists

nodeSelector: {}

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

securityContext:
  runAsNonRoot: true
  runAsUser: 65534