# we only need to create the role binding if we create a custom service account for this service
{{- if and .Values.serviceAccount .Values.serviceAccount.create -}}
{{- $serviceAccountName := include "hades.serviceAccountName" . }}
{{- if $serviceAccountName }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $serviceAccountName }}-modify-hpa
  namespace: {{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: {{ $serviceAccountName }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: hpa-modifier
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}
