# Default values for OpenObserve.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: public.ecr.aws/zinclabs/openobserve
  pullPolicy: IfNotPresent
  tag: v0.14.5
  # tag: v0.14.5-debug

service:
  type: ClusterIP
  port: 5080

resources:
  limits:
    cpu: 1
    memory: 3Gi
  requests:
    cpu: 0.5
    memory: 3Gi

nameOverride: ''
fullnameOverride: 'openobserve'

# used to store GCP JSON creds as ConfigMap
credsJson: ""

ingress:
  enabled: false
  # certificate: 'arn:aws:acm:<region>:<account>:certificate/<uuid>'
  # className: ''
  # host: openobserve.<domain>.paragon.so
  # healthcheck_path: /healthz
  # include_annotations: true
  # load_balancer_name: paragon-<organization>

secretName: "paragon-secrets"

# see https://openobserve.ai/docs/storage/

secretKeys:
  - ZO_ROOT_USER_EMAIL
  - ZO_ROOT_USER_PASSWORD
  - ZO_S3_ACCESS_KEY
  - ZO_S3_SECRET_KEY

envKeys:
  - HOST_ENV
  - ZO_COMPACT_DATA_RETENTION_DAYS
  - ZO_DATA_DIR
  - ZO_LOCAL_MODE_STORAGE
  - ZO_S3_BUCKET_NAME
  - ZO_S3_FEATURE_HTTP1_ONLY
  - ZO_S3_PROVIDER
  - ZO_S3_REGION_NAME
  - ZO_S3_SERVER_URL

env:
  ZO_COMPACT_DATA_RETENTION_DAYS: 365
  ZO_DATA_DIR: /data
  ZO_LOCAL_MODE_STORAGE: s3
  ZO_TELEMETRY: false

# Persistent Volume Claim configuration for /data directory
persistence:
  size: 5Gi

secrets: {}
