# Default values for OpenObserve.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: public.ecr.aws/zinclabs/openobserve
  pullPolicy: IfNotPresent
  tag: v0.10.8
  # tag: v0.10.8-debug

service:
  type: ClusterIP
  port: 5080

resources:
  limits:
    cpu: 2048m
    memory: 2048Mi
  requests:
    cpu: 256m
    memory: 10Mi

nameOverride: ''
fullnameOverride: 'openobserve'

# used to store GCP JSON creds as ConfigMap
credsJson: ""

ingress:
  enabled: false
  # acm_certificate_arn: 'arn:aws:acm:<region>:<account>:certificate/<uuid>'
  # className: ''
  # host: openobserve.<domain>.paragon.so
  # healthcheck_path: /healthz
  # include_annotations: true
  # load_balancer_name: paragon-<organization>

# see https://openobserve.ai/docs/storage/
envKeys:
  - HOST_ENV
  - ZO_COMPACT_DATA_RETENTION_DAYS
  - ZO_DATA_DIR
  - ZO_LOCAL_MODE_STORAGE
  - ZO_ROOT_USER_EMAIL
  - ZO_ROOT_USER_PASSWORD
  - ZO_S3_ACCESS_KEY
  - ZO_S3_BUCKET_NAME
  - ZO_S3_PROVIDER
  - ZO_S3_REGION_NAME
  - ZO_S3_SECRET_KEY
  - ZO_S3_SERVER_URL
  - ZO_S3_FEATURE_HTTP1_ONLY

env:
  ZO_COMPACT_DATA_RETENTION_DAYS: 365
  ZO_DATA_DIR: /data
  ZO_LOCAL_MODE_STORAGE: s3
