apiVersion: batch/v1
kind: Job
metadata:
  name: migrations-postgres-cerberus
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-1"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "cerberus.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "cerberus.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: "postgres-cerberus"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "useparagon/postgres-cerberus:{{ .Values.global.paragon_version }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- /* Handle environment variables */}}
            {{- if and .Values.envKeys (kindIs "slice" .Values.envKeys) }}
            {{- range $key := .Values.envKeys }}
            {{- if and $.Values.env (kindIs "map" $.Values.env) (hasKey $.Values.env $key) }}
            - name: {{ $key }}
              value: {{ index $.Values.env $key | quote }}
            {{- else if and $.Values.global.env (kindIs "map" $.Values.global.env) (hasKey $.Values.global.env $key) }}
            - name: {{ $key }}
              value: {{ index $.Values.global.env $key | quote }}
            {{- end }}
            {{- end }}
            {{- end }}
            {{- /* Handle secrets */}}
            {{- if and .Values.secretKeys (kindIs "slice" .Values.secretKeys) }}
            {{- range $key := .Values.secretKeys }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{- if and $.Values.secrets (kindIs "map" $.Values.secrets) (hasKey $.Values.secrets $key) }}
                         {{ $.Values.secretName }}-{{ $.Chart.Name }}
                       {{- else }}
                         {{ $.Values.secretName }}
                       {{- end }}
                  key: {{ $key }}
                  optional: true
            {{- end }}
            {{- end }}
      restartPolicy: Never
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
