{{/*
Standard RoleBinding for all microservices.
Call with: include "rolebinding.standard" $
*/}}
{{- define "rolebinding.standard" -}}
{{- if and .Values.serviceAccount .Values.serviceAccount.create -}}
{{- $serviceAccountName := include (printf "%s.serviceAccountName" .Chart.Name) . }}
{{- if $serviceAccountName }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $serviceAccountName }}-modify-hpa
  namespace: {{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: {{ $serviceAccountName }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: hpa-modifier
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}
{{- end -}}

