apiVersion: v2
name: paragon-monitoring
description: Paragon-Onprem Monitoring for Kubernetes
type: application
version: __PARAGON_VERSION__
appVersion: 'v1'

dependencies:
  - name: bull-exporter
    version: __PARAGON_VERSION__
    repository: file://charts/bull-exporter
    condition: subchart.bull-exporter.enabled
  - name: grafana
    version: __PARAGON_VERSION__
    repository: file://charts/grafana
    condition: subchart.grafana.enabled
  - name: kafka-exporter
    version: __PARAGON_VERSION__
    condition: subchart.kafka-exporter.enabled
    repository: file://charts/kafka-exporter
  - name: kube-state-metrics
    version: __PARAGON_VERSION__
    condition: subchart.kube-state-metrics.enabled
    repository: file://charts/kube-state-metrics
  - name: node-exporter
    version: __PARAGON_VERSION__
    condition: subchart.node-exporter.enabled
    repository: file://charts/node-exporter
  - name: pgadmin
    version: __PARAGON_VERSION__
    condition: subchart.pgadmin.enabled
    repository: file://charts/pgadmin
  - name: postgres-exporter
    version: __PARAGON_VERSION__
    condition: subchart.postgres-exporter.enabled
    repository: file://charts/postgres-exporter
  - name: prometheus
    version: __PARAGON_VERSION__
    condition: subchart.prometheus.enabled
    repository: file://charts/prometheus
  - name: redis-exporter
    version: __PARAGON_VERSION__
    condition: subchart.redis-exporter.enabled
    repository: file://charts/redis-exporter
  - name: redis-insight
    version: __PARAGON_VERSION__
    condition: subchart.redis-insight.enabled
    repository: file://charts/redis-insight
