subchart:
  bull-exporter:
    enabled: true
  grafana:
    enabled: true
  kafka-exporter:
    enabled: true
  kube-state-metrics:
    enabled: true
  node-exporter:
    enabled: true
  pgadmin:
    enabled: true
  postgres-exporter:
    enabled: true
  prometheus:
    enabled: true
  redis-exporter:
    enabled: true
  redis-insight:
    enabled: true

global:
  pullPolicy: IfNotPresent
  namespace: paragon
  env: {}
